#status-bar-container {
	min-height: 20px;
	padding: 5px;
	background-color: alpha(var(--background), 0.9);
	border-radius: 0px;
}

menu {
	background: #161617;
	padding: 5px;
	border-radius: 10px;
	color: var(--foreground);
	font-size: 1rem;
	border: .5px solid alpha(var(--foreground), .5);
}

menu menuitem {
	padding: 5px 10px;
	border-radius: 5px;
}

menu menuitem:hover {
	color: #C8B8AD;
	background: alpha(var(--foreground), .15);
}

menu menuitem:disabled {
	color: grey;
}

#datetime {
	font-weight: bold;
}

#status-bar-corners {
	min-height: 20px;
	border-radius: 20px 20px 0 0;
	background-color: transparent;
}

#status-bar-corner-left,
#status-bar-corner-right {
	min-height: 20px;
	min-width: 20px;
}

#status-bar-corner-left {
	background-image: radial-gradient(21px circle at 100% 100%, transparent 19px, alpha(var(--background), 0.9) 19px);
}

#status-bar-corner-right {
	background-image: radial-gradient(21px circle at 0% 100%, transparent 19px, alpha(var(--background), 0.9) 19px);
}

#active-window {
	font-weight: bold;
}

#calendar .day-header {
	font-weight: bold;
	color: var(--accent);
}

#calendar .day-button {
	transition: all 0;
}

#calendar .day-button label {
	font-weight: bold;
	transition: all 0;
}

#calendar .day-button.other-month label {
	color: alpha(var(--foreground), .5);
}

#calendar .day-button.today label {
	color: var(--accent);
	text-decoration: underline;
}

#calendar .day-button.selected {
	background-color: var(--active-background);
}

#calendar .day-button.selected label {
	color: var(--accent);
}
